<h1>{{ title }} </h1>

<table mat-table [dataSource]="autosList" class="mat-elevation-z8">
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>Foto</th>
    <td mat-cell *matCellDef="let auto">
      <img width="100" [src]="auto.photography">
    </td>
  </ng-container>
  <ng-container matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let auto"> {{ auto.reference }} </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Marca</th>
    <td mat-cell *matCellDef="let auto"> {{ auto.brand }} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Categoria</th>
    <td mat-cell *matCellDef="let auto"> {{ auto.category | titlecase }} </td>
  </ng-container>
  <ng-container matColumnDef="materials">
    <th mat-header-cell *matHeaderCellDef>Materiales</th>
    <td mat-cell *matCellDef="let auto"> {{ auto.materiales }} </td>
  </ng-container>
  <ng-container matColumnDef="dimensions">
    <th mat-header-cell *matHeaderCellDef>Dimensiones</th>
    <td mat-cell *matCellDef="let auto">{{ auto.dimensiones }}mts</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let auto">{{ auto.description }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let auto">{{ auto.price | currency }}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Cantidad disponible</th>
    <td mat-cell *matCellDef="let auto">{{ auto.quantity }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

